.git
.gitignore
.dockerignore
[Ii][Gg][Nn][Oo][Rr][Ee]
[Oo][Bb][Ss][Oo][Ll][Ee][Tt][Ee]
ESPHamClock.zip
hamclock
test
shell
TODO.txt
dot.env

hamclock-builder
hamclock-builder
hamclock-web
hamclock-vnc

Dockerfile.orig
Dockerfile.web
Dockerfile.vnc

api.txt
hamclockargs.txt
