.git
[Ii][Gg][Nn][Oo][Rr][Ee]
[Oo][Bb][Ss][Oo][Ll][Ee][Tt][Ee]
ESPHamClock.zip
test
shell
help.txt
toolbox
TODO.txt
.env

Dockerfile.orig
Dockerfile.web
Dockerfile.vnc

hamclock-builder
hamclock-web
hamclock-vnc

api.txt
hamclockargs.txt
